# Environment
.env
.env.local
.env.*.local

# Go
go-api/vendor/

# Node
node-api/node_modules/
node-api/coverage/
frontend/node_modules/
frontend/.next/
frontend/out/

# Docker
*.log

# OS
.DS_Store
Thumbs.db
